html {
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

body{
    font-family: 'ssf4', Courier, monospace;
    background: var(--color-secondary);
    width: 99vw;
    overflow: hidden;
    animation: fadeIn 1s backwards;
    animation-delay: .2s;
}

body::before{
    content: '';
    background-image: url("../img/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 105%;
    height: 105%;
    opacity: 0.2;
    background-position: center center;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header{
    z-index: 1;
    display: flex;
    justify-content: center;
}

.header .title{
    color: var(--color-title-weak);
    text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;
    -webkit-text-stroke: 2px var(--color-title-strong);
}

.character-select{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 5vw;
}

.character-select .character-big{
    text-align: center;
    position: relative;
    width: 300px;
}

.character-select .character-big img{
    z-index: 1;
    height: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.character-select .character-big .player h2{
    position: relative;
    color: var(--color-default);
    font-family: 'command', sans-serif;
    font-size: 27px;
    z-index: 2;
    /* width: 210px; */
}

.character-select .character-big .name::before{
    content: '';
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.character-select .character-big .name h2{
    color: var(--color-default);
    font-family: 'command', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 27px;
}

.character-select .character-big.character-player-1 .name::before{
    background-color: var(--color-blue-principal);
}

.character-select .character-big.character-player-2 .name::before{
    background-color: var(--color-red-principal);
}

.character-select .characters-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}

.character-select .characters-list .character{
    border: 2px solid var(--color-default);
    background-color: var(--color-default);
    width: 30%;
    height: 160px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.character-select .characters-list .character img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.character-select .characters-list .character.selected{
    border: 2px solid var(--color-blue-median);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-select .characters-list .character.player-2-selected{
    border: 2px solid var(--color-red-weak);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-select .characters-list .character:hover{
    transform: scale(1.07);
}

.character-select .characters-list .character.selected.player-2-selected:hover{
    animation: c-glowing-red-blue 1s ease infinite;
    animation-direction: normal;
}

.character-select .characters-list .character .tag{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--color-blue-median);
    transition: opacity .3 ease-in-out;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-select .characters-list .character.selected .tag{
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-select .characters-list .character .tag2{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--color-blue-median);
    transition: opacity .3 ease-in-out;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-select .characters-list .character.player-2-selected .tag2{
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.buttons-container {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: none;
    z-index: 3;
    border: 1px solid white;

}

.buttons-container ul {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    width: min-content;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

.buttons-container .start-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    position: relative;
    height: 100px;
    width: 230px;
    z-index: 4;
    border-radius: 10px;
    opacity: 80%;
    font-weight: bold;
    background-color: #ffffff;
    pointer: pointer;
    box-shadow: 0 4px black;
}

.buttons-container .start-button:hover{
    opacity: 100%;
}

.buttons-container .start-button:active{
    transform: translateY(4px);
    box-shadow: none;

}
